streamlit==1.55.0
networkx==3.6.1
ortools==9.15.6755
pandas==2.3.3
scikit-learn==1.8.0
openai==2.24.0
matplotlib==3.10.8
python-docx==1.2.0
python-pptx==1.0.2
pytest==9.0.2
beautifulsoup4==4.14.3
pypdf==6.7.4
